{% load static %}

<!DOCTYPE html>
<html>
<head>

    <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-TPZLJC2');</script>
    <!-- End Google Tag Manager -->
	<meta charset="UTF-8">

    <!-- ===== Mobile viewport optimized ===== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">

    <!-- ===== Meta Tags - Description for Search Engine purposes ===== -->
    <meta name="description" content="Swimmerland - Water Park HTML Template">
    <meta name="keywords" content="water park, pool, summer, swimming, swimmerland">
    <meta name="author" content="GnoDesign">

    <!-- ===== Website Title ===== -->
    <!-- ===== Website Title ===== -->
    <title>Fun n Food Water Park</title>
    <link rel="shortcut icon" href="{% static 'images/fun n food/Fun N Food Logo/Logo.svg' %}" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">

    <!-- ===== Google Fonts ===== -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans" rel="stylesheet">

    <!-- ===== CSS links ===== -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/swiper.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/shuffle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
	<title>{% block title %} {% endblock %}</title>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TPZLJC2"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
	<div class="preloader">
        <img class="preloader__image" width="200" height="70" src="{% static 'images/fun n food/Fun N Food Logo/Logo.svg' %}" alt="" />
    </div>


    <!-- ===== Start of Header ===== -->

    
    <header class="main">
        <nav class="navbar navbar-default navbar-static-top fluid_header">
            <div style="background-color: rgba(0,0,0,0.4); margin-top: -70px;" class="row" >
                {% if timings %}
                        {% for time in timings %}
                    <div class="col-md-6">
                        <p id="para1"><i class="fa fa-map-marker"></i> New Delhi, <i  style="margin-left: 20px;" class="fa fa-phone"></i> +91 9289626310, 011-43260000 </p>
                    </div>
                    <div class="col-md-6">
                        <p id="para2"><i class="fa fa-clock-o"></i> Monday to Friday - {{time.monday_to_friday}}, Weekends - {{time.weekend_and_holidays}}  </p>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="container">

                <!-- Logo -->
                <div class="col-md-4">
                     <!-- INSERT YOUR LOGO HERE -->
                    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/fun n food/Fun N Food Logo/Logo.svg' %}" alt="logo"></a>
   
                </div>
               
                <!-- Main Menu -->
                <div class="col-md-8">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle toggle-menu menu-right push-body" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>

                        </button>
                    </div>




                    <div class="collapse navbar-collapse pull-right cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="main-nav">
                        <h3>Menu</h3>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active dropdown" role="presentation">
                                <a href="{% url 'index' %}" role="button" aria-expanded="false">Home</a>
                            </li>
                            <li class="dropdown" role="presentation">
                                <a href="{% url 'gallery' %}" role="button" aria-expanded="false">Gallery</a>
                            </li>
                            <li class="dropdown" role="presentation">
                                <a href="{% url 'coming-soon' %}" role="button" aria-expanded="false">Group & Event Package</a>
                            </li>
                            <li class="dropdown" role="presentation">
                                <a href="{% url 'coming-soon' %}" role="button" aria-expanded="false">Membership Plans </a>
                            </li>
                            <li class="dropdown" role="presentation">
                                <a href="{% url 'park-timings' %}" role="button" aria-expanded="false">Park Timings</a>
                            </li>
                            <li class="dropdown" role="presentation">
                                <a href="{% url 'entry-tickets' %}" role="button" aria-expanded="false">Entry Tickets</a>
                            </li>
                            <li class="dropdown" role="presentation">
                                <a href="{% url 'contact' %}" role="button" aria-expanded="false">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- ===== End of Header ===== -->


	{% block body %}
	{% endblock %}




<!-- ===== Start of Sign Up Section ===== -->
    <section id="signup">
        <div class="container">
            <div class="col-md-6 col-md-offset-2">
                <h3 class="section-title">signup <strong>now</strong> and win up to<br> 3 <strong>free</strong> all day tickets</h3>
            </div>

            <div class="col-md-4">
                <a href="{% url 'coming-soon' %}" class="btn">signup</a>
            </div>
        </div>
    </section>
    <!-- ===== End of Sign Up Section ===== -->
    
    <!-- ===== Start of Footer ===== -->
    <footer id="main-footer">
        <div class="container">

            <!-- Start of Footer Top -->
            <div class="row footer-top">

                <!-- Start of Footer About -->
                <div class="col-md-4 col-xs-6 about">
                        <p>The Fun 'N' Food Water Park is an endeavor to create a fusion of our rich Indian legacy and modern recreational facilities. </p>
                    <ul>
                        <li><span><i class="fa fa-map-marker"></i>C/o Fun N Food Water Park, Old Delhi Gurgaon Road, Kapshera, New Delhi (India) – 110097</span></li>
                        <li><span><i class="fa fa-phone"></i>Corporate/Institute: +91 9289626310</span></li>
                        <li><span><i class="fa fa-phone"></i>Landline: 011-43260000 </span></li>
                        <li><span><i class="fa fa-envelope-o"></i>info@funnfoodparks.com</span></li>
                    </ul>
                </div>
                <!-- End of Footer About -->

                <!-- Start of Footer Navigation -->
                <div class="col-md-2 col-xs-6 footer-nav">
                    <h4>navigation</h4>
                    <ul class="footer-links">
                        <li><a href="{% url 'index' %}">home</a></li>
                        <li><a href="{% url 'gallery' %}">gallery</a></li>
                        <li><a href="{% url 'water-park' %}">Attractions</a></li>
                        <li><a href="{% url 'coming-soon' %}">Group & Event Package</a></li>
                        <li><a href="{% url 'coming-soon' %}">Membership Plans</a></li>
                    </ul>
                </div>
                <!-- End of Footer Navigation -->

                <!-- Start of Footer Social Media Links -->
                <div class="col-md-2 col-xs-6 footer-social">
                    <h4>follow us</h4>
                    <ul class="footer-links">
                        <li><i class="fa fa-facebook"></i><a style="margin-left: 15px;" href="https://www.facebook.com/funnfoodwaterdelhi/"> facebook</a></li>
                        <li><i class="fa fa-twitter"></i><a style="margin-left: 10px;" href="https://twitter.com/FunNFoodWater"> twitter</a></li>
                        <li><i class="fa fa-instagram"></i><a style="margin-left: 10px;" href="https://www.instagram.com/funnfoodwaterpark/"> instagram</a></li>
                        <li><i class="fa fa-linkedin"></i><a style="margin-left: 10px;" href="#"> Linkedin</a></li>
                    </ul>
                </div>
                <!-- End of Footer Social Media Links -->

                <!-- Start of Footer About -->
                {% if timings %}
                        {% for time in timings %}
                <div class="col-md-4 col-xs-6 about">
                    <h4>Opening hours</h4>
                    <p>We are open seven days. Including public holidays</p>
                    <ul>
                        <li><span><i class="fa fa-clock-o"></i>Mon to Friday - {{time.monday_to_friday}}</span></li>
                        <li><span><i class="fa fa-clock-o"></i>Sat, Sun & Public Holidays - {{time.weekend_and_holidays}}</span></li>                    </ul>
                </div>
                        {% endfor %}
                {% endif %}
                <!-- End of Footer About -->

            </div>
            <!-- End of Footer Top -->

            <!-- Start of Footer Copyright -->
            <div class="row">
                <div class="col-md-12 text-center copyright">
                    <p>Copyright © Fun n Food Water Park. All Rights Reserved.</p>
                </div>
            </div>
            <!-- End of Footer Copyright -->

        </div>
    </footer>
    <!-- ===== End of Footer ===== -->

    <!-- ===== All Javascript at the bottom of the page for faster page loading ===== -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/modernizr.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/jquery.shuffle.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.countTo.js' %}"></script>
    <script src="{% static 'js/jquery.inview.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/calendar.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>


</html>