{% extends "basic.html" %}
{% load static %}
{% block body %}
    <!-- ===== Main Page Section ===== -->
    <section class="main" id="pages">

        <!-- Title -->
        <div class="page-title overlay" style="background: url('{% static 'images/fun n food/slider-bg.jpg' %}'); background-size: cover;">
            <h2>Gallery</h2>
        </div>
        <!-- End of Title -->

    </section>
    <!-- ===== End of Main Page Section ===== -->


    <!-- ===== Start of Gallery Section ===== -->
    <section id="gallery">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 pad80">
                    <h2 class="section-title">Have A Look!</h2>
                </div>

                <!-- Start of Gallery Filters -->
                <ul class="gallery-sorting text-center">
                    <li><a href="#" class="btn-border active" data-group="all">All</a></li>
                </ul>
                <!-- End of Gallery Filters -->

                <!-- Start of Gallery Images -->
                <ul class="gallery-items list-unstyled" id="grid">

                    <!-- image 1 -->
                    <li class="col-md-2 col-sm-4 col-xs-6"  >
                        <figure class="gallery-item">
                            <a href="{% static 'images/fun n food/gallery/1.jpg' %}">
                                <img src="{% static 'images/fun n food/gallery/1.jpg' %}" alt="" class="img-responsive">
                            </a>
                        </figure>
                    </li>

                    <!-- image 2 -->
                    <li class="col-md-2 col-sm-4 col-xs-6" >
                        <figure class="gallery-item">
                            <a href="{% static 'images/fun n food/gallery/2.jpg' %}">
                                <img src="{% static 'images/fun n food/gallery/2.jpg' %}" alt="" class="img-responsive">
                            </a>
                        </figure>
                    </li>


                    <!-- image 4 -->
                    <li class="col-md-2 col-sm-4 col-xs-6" >
                        <figure class="gallery-item">
                            <a href="{% static 'images/fun n food/gallery/4.jpg' %}">
                                <img src="{% static 'images/fun n food/gallery/4.jpg' %}" alt="" class="img-responsive">
                            </a>
                        </figure>
                    </li>

                    <!-- image 5 -->
                    <li class="col-md-2 col-sm-4 col-xs-6" >
                        <figure class="gallery-item">
                            <a href="{% static 'images/fun n food/gallery/5.jpg' %}">
                                <img src="{% static 'images/fun n food/gallery/5.jpg' %}" alt="" class="img-responsive">
                            </a>
                        </figure>
                    </li>

                    <!-- image 6 -->
                    <li class="col-md-2 col-sm-4 col-xs-6"  >
                        <figure class="gallery-item">
                            <a href="{% static 'images/fun n food/gallery/6.jpg' %}">
                                <img src="{% static 'images/fun n food/gallery/6.jpg' %}" alt="" class="img-responsive">
                            </a>
                        </figure>
                    </li>

                    <!-- image 7 -->
                    <li class="col-md-2 col-sm-4 col-xs-6"  >
                        <figure class="gallery-item">
                            <a href="{% static 'images/fun n food/gallery/7.jpg' %}">
                                <img src="{% static 'images/fun n food/gallery/7.jpg' %}" alt="" class="img-responsive">
                            </a>
                        </figure>
                    </li>

                    <!-- image 8 -->
                    <li class="col-md-2 col-sm-4 col-xs-6" >
                        <figure class="gallery-item">
                            <a href="{% static 'images/fun n food/gallery/8.jpg' %}">
                                <img src="{% static 'images/fun n food/gallery/8.jpg' %}" alt="" class="img-responsive">
                            </a>
                        </figure>
                    </li>

                    <!-- image 9 -->
                    <li class="col-md-2 col-sm-4 col-xs-6" >
                        <figure class="gallery-item">
                            <a href="{% static 'images/fun n food/gallery/9.jpg' %}">
                                <img src="{% static 'images/fun n food/gallery/9.jpg' %}" alt="" class="img-responsive">
                            </a>
                        </figure>
                    </li>

                    <!-- image 11 -->
                    <li class="col-md-2 col-sm-4 col-xs-6" >
                        <figure class="gallery-item">
                            <a href="{% static 'images/fun n food/gallery/11.jpg' %}">
                                <img src="{% static 'images/fun n food/gallery/11.jpg' %}" alt="" class="img-responsive">
                            </a>
                        </figure>
                    </li>

                    <!-- image 12 -->
                    <li class="col-md-2 col-sm-4 col-xs-6"  >
                        <figure class="gallery-item">
                            <a href="{% static 'images/fun n food/gallery/12.jpg' %}">
                                <img src="{% static 'images/fun n food/gallery/12.jpg' %}" alt="" class="img-responsive">
                            </a>
                        </figure>
                    </li>

                    <li class="col-md-2 col-sm-4 col-xs-6"  >
                        <figure class="gallery-item">
                            <a href="{% static 'images/fun n food/gallery/15.jpg' %}">
                                <img src="{% static 'images/fun n food/gallery/15.jpg' %}" alt="" class="img-responsive">
                            </a>
                        </figure>
                    </li>

                    <li class="col-md-2 col-sm-4 col-xs-6"  >
                        <figure class="gallery-item">
                            <a href="{% static 'images/fun n food/gallery/16.jpg' %}">
                                <img src="{% static 'images/fun n food/gallery/16.jpg' %}" alt="" class="img-responsive">
                            </a>
                        </figure>
                    </li>

                    <li class="col-md-2 col-sm-4 col-xs-6"  >
                        <figure class="gallery-item">
                            <a href="{% static 'images/fun n food/gallery/19.jpg' %}">
                                <img src="{% static 'images/fun n food/gallery/19.jpg' %}" alt="" class="img-responsive">
                            </a>
                        </figure>
                    </li>

                    <li class="col-md-2 col-sm-4 col-xs-6"  >
                        <figure class="gallery-item">
                            <a href="{% static 'images/fun n food/gallery/21.jpg' %}">
                                <img src="{% static 'images/fun n food/gallery/21.jpg' %}" alt="" class="img-responsive">
                            </a>
                        </figure>
                    </li>

                    <li class="col-md-2 col-sm-4 col-xs-6"  >
                        <figure class="gallery-item">
                            <a href="{% static 'images/fun n food/gallery/22.jpg' %}">
                                <img src="{% static 'images/fun n food/gallery/22.jpg' %}" alt="" class="img-responsive">
                            </a>
                        </figure>
                    </li>

                    <li class="col-md-2 col-sm-4 col-xs-6"  >
                        <figure class="gallery-item">
                            <a href="{% static 'images/fun n food/gallery/23.jpg' %}">
                                <img src="{% static 'images/fun n food/gallery/23.jpg' %}" alt="" class="img-responsive">
                            </a>
                        </figure>
                    </li>

                    <li class="col-md-2 col-sm-4 col-xs-6"  >
                        <figure class="gallery-item">
                            <a href="{% static 'images/fun n food/gallery/24.jpg' %}">
                                <img src="{% static 'images/fun n food/gallery/24.jpg' %}" alt="" class="img-responsive">
                            </a>
                        </figure>
                    </li>

                    <li class="col-md-2 col-sm-4 col-xs-6"  >
                        <figure class="gallery-item">
                            <a href="{% static 'images/fun n food/gallery/28.jpg' %}">
                                <img src="{% static 'images/fun n food/gallery/28.jpg' %}" alt="" class="img-responsive">
                            </a>
                        </figure>
                    </li>

                    <li class="col-md-2 col-sm-4 col-xs-6"  >
                        <figure class="gallery-item">
                            <a href="{% static 'images/fun n food/gallery/29.jpg' %}">
                                <img src="{% static 'images/fun n food/gallery/29.jpg' %}" alt="" class="img-responsive">
                            </a>
                        </figure>
                    </li>

                    <li class="col-md-2 col-sm-4 col-xs-6"  >
                        <figure class="gallery-item">
                            <a href="{% static 'images/fun n food/gallery/30.jpg' %}">
                                <img src="{% static 'images/fun n food/gallery/30.jpg' %}" alt="" class="img-responsive">
                            </a>
                        </figure>
                    </li>

                    <li class="col-md-2 col-sm-4 col-xs-6"  >
                        <figure class="gallery-item">
                            <a href="{% static 'images/fun n food/gallery/31.jpg' %}">
                                <img src="{% static 'images/fun n food/gallery/31.jpg' %}" alt="" class="img-responsive">
                            </a>
                        </figure>
                    </li>

                    <li class="col-md-2 col-sm-4 col-xs-6"  >
                        <figure class="gallery-item">
                            <a href="{% static 'images/fun n food/gallery/32.jpg' %}">
                                <img src="{% static 'images/fun n food/gallery/32.jpg' %}" alt="" class="img-responsive">
                            </a>
                        </figure>
                    </li>

                    <li class="col-md-2 col-sm-4 col-xs-6"  >
                        <figure class="gallery-item">
                            <a href="{% static 'images/fun n food/gallery/33.jpg' %}">
                                <img src="{% static 'images/fun n food/gallery/33.jpg' %}" alt="" class="img-responsive">
                            </a>
                        </figure>
                    </li>

                     <!-- image 6 -->
                    <li class="col-md-2 col-sm-4 col-xs-6">
                        <figure class="gallery-item">
                            <a href="{% static 'images/fun n food/gallery/6.jpg' %}">
                                <img src="{% static 'images/fun n food/gallery/6.jpg' %}" alt="" class="img-responsive">
                            </a>
                        </figure>
                    </li>

                    
                    <!-- sizer -->
                    <li class="col-md-2 col-sm-4 col-xs-6 shuffle_sizer"></li>
                </ul>
                <!-- End of Gallery Images -->

            </div>
        </div>
    </section>
    <!-- ===== End of Gallery Section ===== -->

{% endblock %}