{% extends "basic.html" %}
{% load static %}
{% block body %}
    <!-- ===== Main Page Section ===== -->
    <section class="main" id="pages">

        <!-- Title -->
        <div class="page-title overlay" style="background: url('{% static 'images/fun n food/slider-bg.jpg' %}'); background-size: cover;">
            <h2>Water Park Attractions</h2>
        </div>
        <!-- End of Title -->

    </section>
    <!-- ===== End of Main Page Section ===== -->

     <!-- ===== Start About Us Section ===== -->
    <section id="about-us">
        <div class="container-fluid">
            <div class="row">


                <div class="col-md-8 main-content">
                    <h2 class="section-title">Water Park</h2>
                    <div class="about-description">
                        <p>As a member of the World Water Park Association, USA. the Fun N Food water park offers India's largest collection of Water slides and attractions for the toddler learning how to swim to the Water sports enthusiast seeking a thrill.
                        Thrills' chills and spills don't miss them at the Fun n Food water park offers its patrons a new twisting turning and sliding experience with the longest Water slide in the Country.</p>
                    </div>
                </div>
                <div class="col-md-4 about-image">
                    <img src="{% static 'images/fun n food/water/water-park.jpg' %}">
                </div>
                <div class="logo-overlay">
                </div>
                
            </div>
        </div>
    </section>
    <!-- ===== End About Us Section ===== -->
     <!-- ===== Start About Us Section ===== -->
    <section id="about-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 about-image">
                    <img src="{% static 'images/fun n food/water/action-river.jpg' %}">
                </div>
                <div class="col-md-8 main-content">
                    <h2 class="section-title">Action River</h2>
                    <div class="about-description">
                        <p>For those looking for a gentler experience, there is the Lazy river which is over 800 feet long with a gentle flow and a refreshment counter.</p>
                    </div>
                </div>
                
                <div class="logo-overlay">
                </div>
                
            </div>
        </div>
    </section>
    <!-- ===== End About Us Section ===== -->


     <!-- ===== Start About Us Section ===== -->
    <section id="about-us">
        <div class="container-fluid">
            <div class="row">


                <div class="col-md-8 main-content">
                    <h2 class="section-title">Wave Pool</h2>
                    <div class="about-description">
                        <p>A big attraction with the young and old alike is the Wave Pool- an artificial sea where huge waves are generated in three different patterns.If you have had enough, relax by the wave pool under thatched roof umbrellas and sip on a cool mock tail.</p>
                    </div>
                </div>
                <div class="col-md-4 about-image">
                    <img src="{% static 'images/fun n food/water/wave-pool.jpg' %}">
                </div>
                <div class="logo-overlay">
                </div>
                
            </div>
        </div>
    </section>
    <!-- ===== End About Us Section ===== -->
     <!-- ===== Start About Us Section ===== -->
    <section id="about-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 about-image">
                    <img src="{% static 'images/fun n food/water/water-slides.jpg' %}">
                </div>
                <div class="col-md-8 main-content">
                    <h2 class="section-title">Water Slides</h2>
                    <div class="about-description">
                        <p>Chills, Thrills and Spills with a combination of Tube slides, body slides and flumes offers some thing for every one.</p>
                    </div>
                </div>
                
                <div class="logo-overlay">
                </div>
                
            </div>
        </div>
    </section>
    <!-- ===== End About Us Section ===== -->


     <!-- ===== Start About Us Section ===== -->
    <section id="about-us">
        <div class="container-fluid">
            <div class="row">


                <div class="col-md-8 main-content">
                    <h2 class="section-title">The Family Slide</h2>
                    <div class="about-description">
                        <p>An exciting tube slide in which a family of 4 can ride together to splash into a jaccuzi</p>
                    </div>
                </div>
                <div class="col-md-4 about-image">
                    <img src="{% static 'images/fun n food/water/family-slide.jpg' %}">

                </div>
                <div class="logo-overlay">
                </div>
                
            </div>
        </div>
    </section>
    <!-- ===== End About Us Section ===== -->
     <!-- ===== Start About Us Section ===== -->
    <section id="about-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 about-image">
                    <img src="{% static 'images/fun n food/water/tornado.jpg' %}">

                </div>
                <div class="col-md-8 main-content">
                    <h2 class="section-title">The Tornado</h2>
                    <div class="about-description">
                        <p>A cyclonic experience as the rider shoots through the Typhoon tunnel into the sensation of a whirl pool in the tornado bowl before splashing into the water</p>
                    </div>
                </div>
                
                <div class="logo-overlay">
                </div>
                
            </div>
        </div>
    </section>
    <!-- ===== End About Us Section ===== -->

     <!-- ===== Start About Us Section ===== -->
    <section id="about-us">
        <div class="container-fluid">
            <div class="row">


                <div class="col-md-8 main-content">
                    <h2 class="section-title">Speed Coaster</h2>
                    <div class="about-description">
                        <p>The thrill of a roller coaster, and the fun of water as the rider follows a pendulum motion.</p>
                    </div>
                </div>
                <div class="col-md-4 about-image">
                    <img src="{% static 'images/fun n food/water/speed-coaster.jpg' %}">
                </div>
                <div class="logo-overlay">
                </div>
                
            </div>
        </div>
    </section>
    <!-- ===== End About Us Section ===== -->
     <!-- ===== Start About Us Section ===== -->
    <section id="about-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 about-image">
                    <img src="{% static 'images/fun n food/water/aqua-sute.jpg' %}">
                </div>
                <div class="col-md-8 main-content">
                    <h2 class="section-title">Aqua Shute</h2>
                    <div class="about-description">
                        <p>Looking to test your nerves, try the Aqua Shute, the fastest slide in Asia where one can sit on a sledge and splash into the pool at great speeds</p>
                    </div>
                </div>
                
                <div class="logo-overlay">
                </div>
                
            </div>
        </div>
    </section>
    <!-- ===== End About Us Section ===== -->


     <!-- ===== Start About Us Section ===== -->
    <section id="about-us">
        <div class="container-fluid">
            <div class="row">


                <div class="col-md-8 main-content">
                    <h2 class="section-title">New Water Park</h2>
                    <div class="about-description">
                        <p>New water park area with Multi racer slide, Family slide, Twister slide, Animal showers, Rain bow showers, Water Guns, Bucket showers, Water Guns, Kiddie slides</p>
                    </div>
                </div>
                <div class="col-md-4 about-image">                    
                    <img src="{% static 'images/fun n food/water/new-water-park.jpg' %}">
                </div>
                <div class="logo-overlay">
                </div>
                
            </div>
        </div>
    </section>
    <!-- ===== End About Us Section ===== -->
     <!-- ===== Start About Us Section ===== -->
    <section id="about-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 about-image">
                    <img src="{% static 'images/fun n food/water/twister.jpg' %}">
                </div>
                <div class="col-md-8 main-content">
                    <h2 class="section-title">The Twister</h2>
                    <div class="about-description">
                        <p>An illusion, an experience as the rider slides through intertwined tunnels.</p>
                    </div>
                </div>
                
                <div class="logo-overlay">
                </div>
                
            </div>
        </div>
    </section>
    <!-- ===== End About Us Section ===== -->
    <!-- ===== Start About Us Section ===== -->
    <section id="about-us">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-md-8 main-content">
                    <h2 class="section-title">Multi Racer</h2>
                    <div class="about-description">
                        <p>Multi Lane mat type racer. Riders race down side by side on this multi lane racer.</p>
                    </div>
                </div>
                <div class="col-md-4 about-image">
                    <img src="{% static 'images/fun n food/water/multi-racer.jpg' %}">
                </div>
                
                <div class="logo-overlay">
                </div>
                
            </div>
        </div>
    </section>
    <!-- ===== End About Us Section ===== -->


     <!-- ===== Start About Us Section ===== -->
    <section id="about-us">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-4 about-image">
                    <img src="{% static 'images/fun n food/water/kids-ride.jpg' %}">
                </div>
                <div class="col-md-8 main-content">
                    <h2 class="section-title">Kiddie Pools</h2>
                    <div class="about-description">
                        <p>For Kids in the age group of 1-5 years, there is a Kids Pool consisting of a Frog Slide and different types of toys and showers where the Kids can ride and float. Shallow Pool with Mushroom showers, Bucket showers, Water Guns and Kiddie slides</p>
                    </div>
                </div>
                
                <div class="logo-overlay">
                </div>
                
            </div>
        </div>
    </section>
    <!-- ===== End About Us Section ===== -->
     <!-- ===== Start About Us Section ===== -->
    <section id="about-us">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-md-8 main-content">
                    <h2 class="section-title">Rain Dance</h2>
                    <div class="about-description">
                        <p>To complete the Water thrill , it is the Rain dance pool to forget the world and let the rhythm take over.The entire Water park area is covered with synthetic grass which not only enhances the beauty of the Park but ensures the safety of visitors who might slip due to wet feet.</p>
                    </div>
                </div>
                <div class="col-md-4 about-image">
                    <img src="{% static 'images/fun n food/water/rain-dance.jpg' %}">
                </div>
                
                <div class="logo-overlay">
                </div>
                
            </div>
        </div>
    </section>
    <!-- ===== End About Us Section ===== -->
    {% endblock %}
